.container {
  max-width: 700px;
  margin: auto;
}
.col {
  margin: 10px;
  background-color: #aeaeae;
  display: inline-block;
  width: 50px;
  height: 50px;
}
.red {
  background: red;
}
.blue {
  background: blue;
}
.red-brush {
  margin: 10px;
  background-color: red;
  display: inline-block;
  width: 50px;
  height: 50px;
}
.blue-brush {
  margin: 10px;
  background-color: blue;
  display: inline-block;
  width: 50px;
  height: 50px;
}
